{% extends "base.html" %}
{% block content %}
  <h1>Number of MailChimp Signups</h1>
  <p>Hover over points to see information about individual users.</p>
  <p>
    Split signups by:
  </p>
  <form action="/">
    <select name="signups_over_time_opt">
      {% for opt in signups_over_time_opts %}
        {% if opt == current_signups_over_time_opt %}
          <option selected value="{{ opt }}">{{ opt }}</option>
        {% else %}
          <option value="{{ opt }}">{{ opt }}</option>
        {% endif %}
      {% endfor %}
    </select>
    <input type="submit">
  </form>

  {{ script|safe }}
  {{ div|safe }}

{% endblock %}
